/* Reset styles */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Background styles */
body, html {
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.6); /* Reduced opacity of the background */
}

/* Navbar styles */
.navbar {
    width: 100%;
    padding: 0.1% 2%; /* Use relative padding */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
}

.main-content h1:hover {
    color: rgb(0, 255, 179); /* Change color to cyan on hover */
    transform : scale(1.05);
    text-decoration: solid;
    transition: transform 0.5s ease;
}

.navbar a {
    color: #e6ebe2;
    text-decoration: none;
    margin-left: 1.5vw; /* Use viewport width for margins */
    font-size: 1.2vw; /* Use viewport width for font size */
    padding: 0.5vw 1.3vw; /* Use viewport width for padding */
    border: 2px solid white;
    border-radius: 20px;
    transition: background-color 0.7s, color 0.7s;
}

/* Hover effects for navbar links */
.navbar a:hover {
    background-color: white;
    color: #08509f;
}

/* Branding and header styles */
.brand-title {
    color: white;
    font-size: 1.6vw; /* Use viewport width for font size */
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}
.brand-title img {
    width : 13vw;
    height:3.2vw;
    margin-left: -25vw;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #dfddce;
    text-align: center;
    font-size: 2.8vw; /* Use viewport width for font size */
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 3%;
    transition: transform 0.5s ease;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.video-overlay {
    position: fixed;
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.3); /* Black overlay with 0.5 opacity */
    z-index: -98;
}

/* Main content styles */
.main-content {
    text-align: justify;
    width: 47%; /* Keep width relative */
    background-color: rgba(37, 62, 78, 0.8);
    padding: 3%; /* Use relative padding */
    margin-top: 13%; /* Use relative margin */
    position: absolute;
    top: 10%;
    left: 4%;
    transform: translateY(-40%);
    color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Start with hidden content */
    animation: fadeInAnimation 1s ease 0.4s forwards;
    position: relative;
    margin-bottom: 0%;

}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

.main-content p {
    font-size: 1.55vw; /* Use viewport width for font size */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        margin: 1vw 0;
    }

    .main-content {
        width: 80%;
        left: 10%;
        margin-top: 10%;
        position: relative;
        transform: translateY(0);
    }

    .brand-title, h1, .main-content p {
        font-size: 3vw; /* Increase font size slightly for better readability on smaller screens */
    }
}

/* Additional global styles */
a, p, h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Style for the image containers */
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Take up the right half of the screen */
    position: absolute; /* Adjust this as needed */
    top: 55%; /* Adjust this as needed */
    right: 0;
    transform: translateY(-50%); /* Adjust this as needed */
    padding: 2%;
    z-index: 2; /* Ensure it's above the video background */
    padding-left: 4%;
    opacity: 0; /* Start with hidden content */
    animation: fadeInAnimation 1s ease 0.4s forwards;
}

/* Style for each image and text wrapper */
.image-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    border-bottom: 2px solid white;
    transition: transform 0.5s ease; /* Transition for scaling effect */
    text-decoration: none; /* Remove underline from links */
}

.image-text-wrapper:hover {
    transform: scale(1.05); /* Scale up on hover */
    cursor: pointer;
}

.image-text-wrapper:hover .image-text {
    text-decoration: none;
}

/* Responsive image style */
.responsive-image {
    width: 35%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 1%;
    transition: transform 0.5s ease; /* Smooth transition for scaling */
}

/* Hover effect for images */
.image-text-wrapper:hover .responsive-image {
    transform: scale(1.05); /* Scale up the image */
}
.container {
    position: relative;
  }
/* Style for text next to images */
.image-text {
    color: white;
    font-size: 1.2vw;
    width: 50%;
    text-align: left;
    transition: color 0.5s ease; /* Smooth transition for text color */
}

/* Color transition for text on hover */
.image-text-wrapper:hover .image-text {
    color: #ccc; /* Change text color on hover */
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    .image-container {
      width: 100%; /* Full width on smaller screens */
      position: relative;
      top: 0;
      transform: translateY(0);
    }

    .image-text-wrapper {
      flex-direction: column; /* Stack image and text on top of each other */
    }

    .responsive-image, .image-text {
      width: 90%; /* Take up more space within the container */
      margin: auto; /* Center align within the container */
    }

    .image-text {
      font-size: 3vw; /* Larger text for readability on small screens */
    }
}

.insights-section {
    width: 100%;
    text-align: center;
    padding: 0% 0;
    animation: fadeInAnimation 1s ease forwards;
    position: relative;
  margin-top: -6%;
  }
  
  .insights-section h1 {
    color: #fcfcfc;
    font-size: 2.5vw;
    margin-bottom: -1.2%;
    text-shadow: 2px 2px 4px #000000;
  }
  .usefulimg1{
    margin-top:-8%;
  }
  .image-row {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
  }
  
  .insight-image {
    width: 82%; /* Adjust based on preference */
    margin: 0.25% 1%;
    transition: transform 0.5s ease;
  }
  
  .insight-image:hover {
    transform: scale(1.03);
  }
  
  .rectangle {
    height: auto; /* Maintain aspect ratio */
  }
  
  .square {
    width: 70%; /* Adjust for square aspect ratio */
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .insights-section h1 {
      font-size: 5vw;
    }
  
    .image-row {
      flex-direction: column;
    }
  
    .insight-image {
      width: 80%; /* Larger for better visibility on smaller screens */
      margin-bottom: 1%;
    }
    #bg-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
  }
  .square-image-row {
    display: flex;
    justify-content: center;
    width : 60%;
  }
  .insight-image:hover {
    transform: scale(1.05);
  }
  
  @media only screen and (max-width: 768px) {
    .insight-image {
      width: 80%; /* Adjust for smaller screens */
      margin: 0 5%; /* Adjust spacing for smaller screens */
    }
  }
  /* About Us Section Styles */
.about-us-section {
    width: 100%;
    background-color: rgba(37, 62, 78, 0.8);
    padding: 2%;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.about-us-section h1 {
    margin-bottom: -2%;
    color: #dfddce;
}

.about-us-section p {
    margin-bottom: 2%;
    font-size: 1.2vw;
    line-height: 1.6;
    text-align: justify;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-us-section table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.about-us-section th, .about-us-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.about-us-section tr:nth-child(even) {
    background-color: #29534c;
}

.about-us-section th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
