<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<script src = "static/homejs.js"></script>
<body>
    <div class="navbar">
        <video autoplay muted loop id="bg-video">
        <source src="static/video1.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="brand-title"><img src="static/image.jpeg" height = "50px" width = "170px"></div> 
    <div class="navbar-links">
      <a href="#home"><b>HOME</b></a>
      <a href="#aboutus"><B>ABOUT US</B></a>
      <a href="#login"><b>LOGIN</b></a>
    </div>
  </div>
  <div class="main-content">
    <h1>IQ FINANCE</h1>
    <p>
        IQ Finance offers a robust suite of financial management tools designed to empower users to master their finances with ease. Our platform features intuitive expense tracking, sophisticated categorization, and dynamic visualizations, enabling users to effortlessly monitor their spending patterns and make informed financial decisions. With our comprehensive budget tracking capabilities, planning and controlling your financial future has never been easier.
        <br><br>
As your digital finance mentor, IQ Finance provides insightful guidance to navigate the financial landscape with precision. Our platform anticipates potential debt risks, offering proactive advice to ensure financial stability and growth. Leveraging cutting-edge technology and user-friendly interfaces, IQ Finance equips you with the necessary resources to achieve your financial goals confidently and with clarity.
        </p>
  </div>
  <div class="image-container">
    <a href="https://example.com" class="image-text-wrapper">
      <img src="static/nodebt.jpeg" alt="Image description" class="responsive-image">
      <p class="image-text"><b>Debt Predictor -<br> "Future-Proof Your Finances"</b><br><br>
        A tool designed to assess your financial health and predict potential debt risks. By evaluating your inputs, IQ Finance offers tailored advice to steer clear of debt, ensuring a secure financial future.</p>
    </a>
    <a href="invstilum.html" target = "_blank" class="image-text-wrapper">
      <img src="static/investment.jpeg" alt="Image description" class="responsive-image">
      <p class="image-text"><b>Investment Illuminator - <br>"Illuminate Your Investment Journey"</b><br><br>

        Discover the brilliance of smart investing with our Investment Illuminator.This feature suggests optimal investment strategies based on your savings, helping you maximize growth with confidence.</p>
    </a>
  </div>
  <div class="insights-section">
    <h1>USEFUL INSIGHTS</h1>
    <div class="image-row">
      <img src="static/Insights/image1.jpg" id="usefulimg1" class="insight-image rectangle">
    </div>
    <div class="image-row">
      <img src="static/Insights/image2.jpg" class="insight-image rectangle">
    </div>
    <div class="image-row">
      <img src="static/Insights/image3.jpg" class="insight-image rectangle">
    </div>
    <div class="image-row">
      <div class="square-image-row">
        <img src="static/Insights/sqimg1.jpg" class="insight-image square">
        <img src="static/Insights/sqimg2.jpg" class="insight-image square">
      </div>
    </div>
    <div class="image-row">
      <div class="square-image-row">
        <img src="static/Insights/sqimg3.jpg" class="insight-image square">
        <img src="static/Insights/sqimg4.jpg" class="insight-image square">
      </div>
    </div>
  </div>
  <div class="about-us-section" id = "aboutus">
    <h1>About Us</h1>
    <p>We are a dedicated team of four professionals from VIT-Chennai, committed to delivering innovative financial solutions. Our mission is to empower individuals and organizations by providing them with comprehensive and user-friendly financial tools, enabling them to make informed decisions and achieve their financial goals.</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
        </tr>
        <tr>
            <td>Keshav Mukundan</td>
            <td>keshavmukundan03@gmail.com</td>
            <td>+91 7904000603</td>
        </tr>
        <tr>
            <td>Deepak Pradip</td>
            <td>deepak.pradip2022@vitstudent.ac.in</td>
            <td>+91 6382039575</td>
        </tr>
        <tr>
            <td>P Bhargav Kamath</td>
            <td>bhargavkamath3704@gmail.com</td>
            <td>+91 9361698068</td>
        </tr>
        <tr>
            <td>S Ramakrishnan</td>
            <td>sramakrishnan1841@gmail.com</td>
            <td>+91 7397496421</td>
        </tr>
    </table>
</div>

</body>
</html>